<html>
    <head>
        <title>Search Word</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/search.css">
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
        </script>
        <style>
            body {
                margin: 90px auto;
                /*padding: auto auto;*/
            }
        </style>
    </head>
    <body>
        <div class="container">
            
